/* Add CSS Styling */
.odd {
    background-color: rgb(247, 180, 180);
    font-family: Verdana, 'DejaVu Sans', sans-serif;
}

#two {
    color: rgb(5, 66, 156);
    font-size: 36px;
}

.mid,
#four {
    font-size: 24px;
}

#four {
    background-color: rgb(67, 238, 45);
    font-weight: 700;
}