body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 10px;
}

.content {
  background: #e3f4ff;
  /* padding-top: 20px;
  padding-bottom: 20px; */
  padding: 20px 10px;
  /* margin-top: 20px;
  margin-bottom: 20px; */
  margin: 20px 0px;
}

.button-container {
  display: block;
  background: #e3f4ff;
  text-align: center;
  padding: 10px;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  margin: 0px auto;
}